# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
*.log

# Virtual env
.venv/
venv/

# IDEs/editors
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Generated tests (optional, if you want only source tracked)
tests/generated/
config/last_crawl.json
